main{
    background-color: #31C6D0;
}

.col-lg-4{
    padding-bottom: 100px;
}

.home-btn{
  margin-top: 100px;
}

.col-lg-8.mx-auto.fs-5{
  color: deeppink;
}
.text{
  color: blue;
}

